<div class="container">
	<div class="row edit-notes">
		<div class="col-lg-12">
			<center>
			<h3 class="complementary-header">Edit This Note</h3>
				<%= form_for @note, :url => job_listing_note_path(@note.job_listing_id, @note.id) do |form| %>
					<%= label_tag(:title, 'Edit Title') %><br />
					<%= form.text_field(:title, placeholder: 'What to call this note?') %><br />
					<%= label_tag(:text_field, 'Edit Text') %><br />
					<%= form.text_area(:text_field, placeholder: 'Enter note here ...') %><br />
					<%= label_tag(:due_date, 'Change Due Date') %><br />
					<%= form.date_field(:due_date) %><br />	
					<%= label_tag(:status, 'Update Status') %><br />
					<%= form.text_field(:status, placeholder: 'Set status ...') %><br />
					<div class="col-md-3"></div>
					<div class="col-md-3"><%= form.submit 'Update Note', :class => 'btn btn-primary' %></div>
					<div class="col-md-3"><%= button_to 'Go Back to Job', job_listing_path(@job_listing.id), :class => 'btn btn-warning' %></div>
					<div class="col-md-3"></div>
				<% end %>
			</center>
		</div>
	</div>
</div>