<h1>Saved Jobs</h1>

<ul class="job-listing-info">
<% @job_listing.each do |listing| %>
	<h4><%= listing.position_name %></h4>
	<h5><%= listing.company_name %> - <%= listing.location %></h5>
	<li>Date Posted: <%= listing.date_posted %></li>
	<li>Date Closing: <%= listing.date_closing %></li>
	<br />
	<!-- TODO Fix delete functionality -->
	<%= link_to 'View Listing', job_listing_path(listing.id) %> - <%= link_to "Delete", job_listing_path(listing.id), method: :delete, data: { confirm: "You sure?" } %>
<% end %>
</ul>

