<div class="row">
	<div class="col-md-4">
		<h3 class="section-header">Search a New Job to Save</h3>
		<div class="search-form">
			<%= form_tag('/job_listings/new', method: 'get') do %>
				<%= label_tag(:q, 'Search for:') %><br />
				<%= text_field_tag :q %><br />
				<%= label_tag(:l, 'Specify location:') %><br />
				<%= text_field_tag :l %><br />
				<%= submit_tag 'Search' %>
			<% end %>
		</div>	

		<span id="indeed_at"><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>
	</div>

	<div class="col-md-8">
		<h3>Search Results</h3>	
		    <% @data['results'].each do |result| %>
				<li><%= result['source'] %></li>
			 	<li><%= result['formattedLocationFull'] %></li>
		    <% end %>
	</div>
</div>