<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3 class="section-header">Search a New Job to Save</h3>
			<!-- This form takes user input to pass to Indeed Search API in the Job Listings controller -->
			<div class="search-form">
				<%= form_tag('/job_listings/new', method: 'get') do %>
					<%= label_tag(:q, 'Search for:') %><br />
					<%= text_field_tag :q %><br />
					<%= label_tag(:l, 'Specify location:') %><br />
					<%= text_field_tag :l %><br />
					<%= label_tag(:radius, 'Specify search radius around location:') %><br />
					<%= text_field_tag :radius %><br />
					<%= label_tag(:jt, 'Specify job type (i.e. fulltime, parttime, contract, internship):') %><br />
					<%= text_field_tag :jt %><br />
					<%= label_tag(:fromage, 'Specify how far back in time to search:') %><br />
					<%= text_field_tag :fromage %><br />
					<%= submit_tag 'Search', class: 'btn btn-primary' %>
				<% end %>
			</div>	

			<span id="indeed_at"><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>
		</div>

		<div class="col-md-8">
			<h3 class="complementary-header">Search Results</h3>	
				<!-- This loop iterates through the search results and renders relevant info to the view -->
			    <% @data['results'].each do |result| %>
					<ul class="job-search-results">
						<h4><%= result['jobtitle'] %><span> | </span><%= result['company'] %></h4>
						<hr>
					 	<p><%= result['formattedLocationFull'] %> - <%= result['country'] %></p>
					 	<em>Brief Description</em>
					 	<p><%= result['snippet'] %></p>
						<p><%= link_to 'Open full listing in a new tab', result['url'], :target => '_blank' %> - <%= link_to 'Save this listing', add_to_saved_job_listings_path(jobkey: result['jobkey']) %></p>
				 	</ul>
			    <% end %>
		</div>
	</div>
</div>