<h3><%= @job_listing.position_name %></h3>
<h3><%= @job_listing.company_name %> - <%= @job_listing.location %></h3>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
		<ul class="job-listing-info">
			<li><h4>Description:</h4> <%= @job_listing.description %></li>
			<li><h4>Responsibilities:</h4><%= @job_listing.responsibilities %></li>
			<li><h4>Qualifications:</h4><%= @job_listing.qualifications %></li>
			<li><h4>Application Requirements:</h4><%= @job_listing.application_requirements %></li>
			<li><h4>Listing URL:</h4><%= link_to 'View original posting here', @job_listing.listing_url, :target => '_blank' %></li>
			<li><h4>Date Posted:</h4><%= @job_listing.date_posted %></li>
			<li><h4>Date Ending:</h4><%= @job_listing.date_closing %></li>
		</ul>
      <%= yield %>
    </div>
    <div class="col-lg-4">
      <div class="well sidebar-nav">
        <h3>Notes</h3>
        <ul class="notes-list">
          <li><%= link_to @notes.text_field %></li>
        </ul>

        <h4>Add a Note</h4>
        <%= form_for @notes do |form| %>
        	<%= form.text_area(:text_field, placeholder: 'Enter your note here...') %><br/>
			<%= form.submit('Save Note') %>
        <% end %>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div>