<h3><%= @job_listing.position_name %></h3>
<h3><%= @job_listing.company_name %> - <%= @job_listing.location %></h3>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
		<ul class="job-listing-info">
			<li><h4>Description:</h4> <%= @job_listing.description %></li>
			<li><h4>Responsibilities:</h4><%= @job_listing.responsibilities %></li>
			<li><h4>Qualifications:</h4><%= @job_listing.qualifications %></li>
			<li><h4>Application Requirements:</h4><%= @job_listing.application_requirements %></li>
			<li><h4>Listing URL:</h4><%= link_to 'View original posting here', @job_listing.listing_url, :target => '_blank' %></li>
			<li><h4>Date Posted:</h4><%= @job_listing.date_posted %></li>
			<li><h4>Date Ending:</h4><%= @job_listing.date_closing %></li>
		</ul>
      <%= yield %>
    </div>
    <div class="col-lg-4">
      <div class="well sidebar-nav">
        <h3>Notes</h3>
        <ul class="notes-list">
			<% @notes.each do |note| %>
				<%= note.title %><br />
				<%= note.text_field %><br />
				<%= note.created_at %><br />
				<%= link_to 'Edit this note', edit_job_listing_note_path(note.job_listing_id, note.id) %></a> - <%= link_to 'Delete', job_listing_note_path(note.job_listing_id, note.id), method: :delete, data: { confirm: 'Are you sure you want to delete this note?' } %>
				<br />
				<br />
			<% end %>
        </ul>

		<h4>Add a Note</h4>
		<%= form_for @note, :url => job_listing_notes_path(@job_listing) do |form| %>
			<%= form.text_field(:title, placeholder: 'What to call this note?') %><br />
			<%= form.text_area(:text_field, placeholder: 'Enter note here ...') %><br />	
			<%= form.text_field(:status, placeholder: 'Set status ...') %><br />
			<%= form.submit 'Save Note' %><br />		
		<% end %>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div>

<%= link_to 'Go Back to Home Page', job_listings_path %>